# Preserve upstream license bytes, including CRLF excerpts; keep other whitespace checks.
apps/places-pocketchip/THIRD_PARTY_LICENSES.txt -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
